/* GENERAL LAYOUT */

.alert {
    font-size:1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.alert-success {
    color: green;
}

.alert-info {
    color: cyan;
}

.alert-danger {
    color: red;
}

.body {
    
}
